<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Listagem de usuário </ion-title>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/usuario-cadastro">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <h3>Angular 9</h3> -->
 
  <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>

  <ion-list>
    @for(item of users(); track item.id) {
    <ion-item>
      <!-- <ion-avatar>
        <img src="{{item.avatar}}" alt="">
      </ion-avatar> -->
      <ion-label> {{ item.first_name }} {{ item.last_name}} </ion-label>
      <ion-button color="danger" (click)="remover(item.id)">Remover</ion-button>
    </ion-item>
    } @empty {
      <p>Usuário não encontrado</p>
    }
  </ion-list>
</ion-content>
